.app {
	width: 1920px;
	background: #ffffff;

	.content {
		width: 1024px; margin: 0 auto;
	}


	.mt100 {margin-top: 100px;}

	
	
	.header-main, 
	.preview-nav {transition: all .6s ease; transform: translateY(0);}
	
	.preview {
		&-wrapp {
			.iteam {
				transition: all .4s ease; transform: scale(1); opacity: 1;
				&:active, &.active {transform: scale(.8); opacity: .6;}
			}
		}
	}

	// gallery
	.gallery-modern {
		transition: 0.4s ease;
	}
	.albom {
		transition: 0.4s ease;
		.iteam {
			transform: translateY(0);
			opacity: 1;
			transition: 0.3s ease;
		}
	}
	.gallery {
		transition: 0.4s ease;
		.iteam {
			transform: translateY(0);
			opacity: 1;
			transition: 0.3s ease;
		}
	}
	transition: all 1.2s ease;
	.header {
		&:after {
			opacity: 0; transition: 2s 1.2s ease;
		}
	}
	&.main-article {
		transform: translateY(100%);
		&.active {
			transform: none;
		}
		&.active2{
			transform: translateY(-100%);
		}
	}
	&.active {
		transform: translateY(0);

		.header {
			&:after {
				opacity: 1;
			}
		}

		.header-main {transform: translateY(-100%);}
		.preview-nav {
			transform: translateY(100%); opacity: 0;
			&.back {transform: translateY(-100%); opacity: 0;}
		}

		.preview {
			&-wrapp {
				.iteam {
					opacity: 0;
				}
			}
		}
		.gallery-modern {
			opacity: 0;
		}
		.albom {
			opacity: 0;
			.iteam {
				transform: translateY(30px);
				opacity: 0;
				transition-delay: 1s !important;
			}
		}
		.gallery {
			opacity: 0;
			.iteam {
				transform: translateY(30px);
				opacity: 0;
				transition-delay: 1s !important;
			}
		}
	}
}