/***********************/
/******** Colors *******/
/***********************/
$main-color: #f6f8fb;
$main-color-text: #000;

$link-color: #4489ff;
$btn-color: #4489ff; 


/***********************/
/******** Fonts ********/
/***********************/

// Intro
$Intro: 'Intro', sans-serif;

// Kurale-Regular
$KuraleR:'Kurale-Regular', sans-serif;

//FedraSansPro
$FedraSansPB: 'FedraSansPro-Bold', sans-serif; 
$FedraSansPBk: 'FedraSansPro-Book', sans-serif;
$FedraSansPBI: 'FedraSansPro-BoldItalic', sans-serif; 
$FedraSansPD: 'FedraSansPro-Demi', sans-serif; 
$FedraSansPDI: 'FedraSansPro-DemiItalic', sans-serif; 
$FedraSansPL: 'FedraSansPro-Light', sans-serif; 
$FedraSansPLI: 'FedraSansPro-LightItalic', sans-serif; 
$FedraSansPM: 'FedraSansPro-Medium', sans-serif; 
$FedraSansPMI: 'FedraSansPro-MediumItalic', sans-serif; 