@import 'reset';
@import 'settings';
@import 'variables';
@import 'modules';
@import 'sprite';
@import '../../bower_components/owl.carousel/src/scss/owl.carousel';
@import '../../bower_components/lightgallery/dist/css/lightgallery.min';
@import 'style';
@import 'fonts';
@import 'animation';

#lg-download {display: none;}
.lg-actions .lg-next, .lg-actions .lg-prev {font-size: 100px; margin-top: -50px;}
.lg-close {font-size: 100px !important; width: 100px !important; height: 100px !important; padding: 30px !important; margin-right: 30px !important;}
.js-lightgallery-item {cursor: pointer;}