/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow {
  background-image: url(../img/sprite.png);
  background-position: -131px 0px;
  width: 131px;
  height: 70px;
}
.icon-camera {
  background-image: url(../img/sprite.png);
  background-position: -186px -103px;
  width: 17px;
  height: 12px;
}
.icon-close-black {
  background-image: url(../img/sprite.png);
  background-position: -156px -128px;
  width: 22px;
  height: 21px;
}
.icon-close {
  background-image: url(../img/sprite.png);
  background-position: 0px -128px;
  width: 60px;
  height: 60px;
}
.icon-dark-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -71px;
  width: 155px;
  height: 57px;
}
.icon-fullscreen {
  background-image: url(../img/sprite.png);
  background-position: -186px -71px;
  width: 32px;
  height: 32px;
}
.icon-lg-nav {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 131px;
  height: 71px;
}
.icon-nav-arrow {
  background-image: url(../img/sprite.png);
  background-position: -155px -71px;
  width: 31px;
  height: 49px;
}
.icon-pause {
  background-image: url(../img/sprite.png);
  background-position: -218px -71px;
  width: 32px;
  height: 32px;
}
.icon-play {
  background-image: url(../img/sprite.png);
  background-position: -60px -128px;
  width: 32px;
  height: 32px;
}
.icon-sound {
  background-image: url(../img/sprite.png);
  background-position: -92px -128px;
  width: 32px;
  height: 32px;
}
.icon-sound_off {
  background-image: url(../img/sprite.png);
  background-position: -124px -128px;
  width: 32px;
  height: 32px;
}
